/* please delete this when you want to merge, i didn't the specified font */
body{
    font-family: 'Montserrat';
}

/* Top section */
.faq-top {
    background: #F3F3F3;
    height: auto;
}

.faq-top__content {
    padding: 100px 0;
}
/* faq top title */
.faq-top__title {
    font-weight: bold;
    font-size: 44px;
    color: #00098A;
    margin-bottom: 30px;
}
/* faq search input */
#search-faq {
    max-width: 671px;
    width: 100%;
    padding: 16px 0px 16px 34px;
    margin: 0 auto 45px;
    height: auto;
    font-size: 14px;
    border: none;
}

#search-faq:hover,
#search-faq:focus,
#search-faq:active {
    box-shadow: 0 0 0 0.1rem #ff8c5f;
}
/* faq search button */
.faq-top__btn {
    border: 1px solid #FF8C5F;
    box-sizing: border-box;
    border-radius: 10px;
    color: #FF8C5F;
    padding: 12px 60px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
}

.faq-top__btn:hover,
.faq-top__btn:focus,
.faq-top__btn:active {
    background-color: #FF8C5F;
    color: #FFF;
    transform: translateY(3px);
    -webkit-transform: translateY(3px);
}
/* background vector containers with bounce animation */
.faq-bg__left {
    position: absolute;
    left: 0px;
    top: 200px;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-name: bounce_effect;
    animation-name: bounce_effect;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    animation-direction: normal;
}

.faq-bg__right {
    position: absolute;
    right: 0px;
    top: 20px;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-name: bounce_effect;
    animation-name: bounce_effect;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    animation-direction: normal;
}
/* set height of background vectors */
.faq-bg__blue-cutout,
.faq-bg__orange-triangle-cutout {
    display: block;
    height: 180px;
}

.faq-bg__orange-triangle-cutout,
.faq-bg__yellow-cutout {
    margin-top: -1px;
}

.faq-bg__orange-cutout,
.faq-bg__yellow-cutout {
    display: block;
    height: 100px;
    width: 80px;
}
/* bounce animation keyframes */
@keyframes bounce_effect {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    50% {
      -webkit-transform: translateY(32px);
      transform: translateY(32px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
} 
/* Accordion section */
.faq {
    margin: 60px auto;
}

.faq__btn {
    width: 100%;
    text-align: left;
    border: none;
    background: none;
    padding: 24px 24px 0;
}

.faq__btn:hover,
.faq__btn:focus,
.faq__btn:active {
    outline: none;
}

.faq__title {
    font-weight: normal;
    font-size:22px;
    color: #00098A;
}

.faq__content {
    padding: 20px;
}
/* rotate arrow */
.faq__btn.collapsed>.fa-angle-up {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg); 
}
/* arrow positioning */
.fa-angle-up {
    position: relative;
    bottom: 30px;
    float: right;
    font-size: 24px;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
}