/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Linking Fonts */

@font-face {
  font-family: 'gilroybold';
  src: url('../fonts/gilroy-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gilroylight';
  src: url('../fonts/gilroy-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'gilroysemibold';
  src: url('../fonts/gilroy-semibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "gilroybold";
}

/* VARIABLES */

:root {
  --primary: #00098A;
  --primary-dark: #1F1558;
  --primary-light: #333CC1;
  --secondary:#FFD43C;;
  --tetiary: #FF8C5F;
  --default-font: 'roboto'
  font-family: var(--default-font)
}

/* HERO SECTION STYLING */

.top-button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.top-welcome-btn {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 10px;
  margin: 0 5px;
  padding: 5px 30px;
}

.welcome-btn-link {
  color: #fff;
}

.welcome-btn-link:hover {
  color: var(--primary);
}

@media (max-width: 991px) {
  .welcome-area {
    height: auto;
  }

  .welcome-content p {
    text-align: center;
    color: var(--primary);
    margin: 0 10%;
  }

  .welcome-content h3 {
    text-align: center;
  }
}

/* WHAT WE OFFER SECTION STYLING */

.feature-heading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10% 27% 7%;
  text-align: center;
}

.feature__heading {
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  color: var(--primary);
}

.feature__text h3{
  font-size: 24px;
  line-height: 124.8%;
  padding: 10% 30%;
  text-align: center;
}

.feature__text p {
  text-align: center;
  padding: 0 6% 3%;
}

.feature__image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height:200px;
  overflow:hidden;
  padding-top: 250px;
}

.feature__img__screen {
  border: 2px solid #000;
  border-radius: 25px;
  box-shadow: #c4c4c4 3px 3px 10px 5px;
}

.feature__img__screen-blk {
  border: none;
  border-radius: 32px;
}


/*  WHO WE ARE AREA */

.why-we-are-area {
  background-color:#F3F3F3;;
}
